:root{
    --text_color: black;
    --main_color: black;
    --bg_color:white;
}
/* a:hover,a:focus{
    text-decoration: none;
    outline: none;
    border: none !important;
} */

.navbar-brand:hover{
    transform: none;
}

#main{
    top: 7vh;
}

a{
    outline:none;
}

td a:hover{
    font-weight: bold;
}

.nav-link{
    text-align: right;
}

a, a:hover, a:active {
    text-decoration: none;
}

a:hover, a:active{
    transform: scale(1.3);
}

.active{
    transform: scale(1.3);
}

.nav-tabs > li {
    float:none;
    display:inline-block;
    zoom:1;
}

.nav-tabs {
    text-align:center;
}

.nav>li{
    padding: 10px;
}

.divider{
    padding: 0 !important;
}

.tab-pane{
    margin-top: 100px;
}

#mobiletab{
    margin-top: 10vh;
    margin-bottom: 15vh !important;
}

@media screen and (min-width: 768px) {

    .nav-item{
        margin: 20px;
    }

    #mobiletab{
        background-color: #eeeeee;
        max-width: 70vw;
        border-radius: 10px;
    }

    #navlogo{
        width: 150px;
    }

    .nav>li>a {
        border: none !important;
    }

    .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
        border-top: none;
        border-bottom: none;
    }

    .nav>li>a:focus, .nav>li>a:hover {
        background-color: transparent !important;
        border: none !important;
        font-weight: bold;
    }

    #bgimg {
        left: calc(50% - 17.5vw);
        max-width: 35vw;
        top: 16.5vh !important;
    }

    #borderimg {
        left: calc(50% - 34vw);
        width: 70vw;
        top: 30.5vh !important;
    }

    .clustertitle{
        text-align:center; 
        color: white; 
        font-size: 3vw; 
        font-weight: bolder; 
        text-shadow: 3px 3px #888888;
    }

}

@media screen and (max-width: 767px) {

    #navlogo{
        width: 100px;
    }

    #bgimg{
        left: calc(50% - 17.5vw);
        max-width: 35vw;
        top: 18.5vh !important;
    }

    /* img {
        position: absolute;
    } */

    .nav-tabs>li>a{
        border: none !important;

    }

    .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
        border-top: none;
        border-bottom: none;
    }

    .nav>li>a:focus, .nav>li>a:hover {
        background-color: transparent !important;
        border: none !important;
        font-weight: bold;
    }

    .nav{
        border: none;
        font-size: 12px;
        padding: 0;
        margin: auto;
    }

    #mobiletab{
        display: block !important;
    }

    td{
        font-size: 10px !important;
    }

    table{
        width: 80vw;
    }

    .tab-content{
        min-height: 50vh;
        max-height: 50vh;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 10vh;
    }

    .clustertitle{
        position: absolute;
        text-align:center; 
        color: white; 
        font-size: 8vw; 
        font-weight: bolder; 
        text-shadow: 3px 3px #888888;
    }

    .footer{
        font-size: 12px;
    }


}
.tab-pane a {
    color: blue !important;
}

a.active {
    font-weight: bold;
}
/* OVERRIDES */
#main {
    top: 116px;
}

.tab-pane, .tab-content {
    margin-bottom: 60px;
    text-align: justify;
}

ul#mobiletab {
    display: flex !important;
    justify-content: space-evenly;
    background-color: #eeeeee !important;
    max-width: 80vw;
}

div#container {
    margin-bottom: -52px !important;
    flex-direction: column;
}

div#push {
    height: 52px;
}

#bgimg {
    top: 130px !important;
    /* left: calc(50% - 25vw);
    max-width: 50vw; */
}

p.clustertitle {
    top: 173px !important;
    left: 50%;
    transform: translate(-50%);
}

@media screen and (max-height: 675px) {
    #bgimg {
        top: 60px !important;
    }
    p.clustertitle {
        top: 100px !important;
    }

    #main {
        top: 60px;
    }
}

@media screen and (max-width: 767px) {
    #container {
        justify-content: flex-start !important;
    }

    #main {
        top: 130px;
    }

    .tab-content {
        min-height: initial;
        max-height: initial;
        height: 35vh;
        display: flex;
        align-items: flex-start;
        padding: 0 !important;
        width: 90vw !important;
    }

    .tab-pane {
        /* width: 70vw !important; */
        min-height: initial !important;
        max-height: initial !important;
        /* height: calc(60vh - 150px - 52px) !important; */
        /* margin-top: 0 !important; */
        margin-bottom: 0 !important;
        width: 100% !important;
        margin-top: 0px !important;
        transform: none;
    }

    #bgimg {
        left: calc(50% - 25vw);
        max-width: 50vw;
        top: 75px !important;
    }

    #borderimg {
        left: calc(50% - 47vw);
        width: 94vw !important;
        top: 13vh !important;
    }

    p.clustertitle {
        top: 92px !important;
    }

    footer p {
        bottom: 0;
        margin-bottom: 10px;
    }

    ul#mobiletab {
        margin-bottom: 0 !important;
        width: 90vw;
    }
}

@media screen and (max-height: 675px) {
    #borderimg {
        top: 20vh !important;
    }
}

input[type=submit] {
    display:none;
}
.registrationform  a {
    background-color: #c02748;
    width: 200px;
    height: 69px;
    display: block;
    padding: 20px 57.5px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    border: none !important;
    color: white !important;
    box-shadow: 0 1px 5px grey;
    transition: box-shadow 0.2s, background-color 0.1s;
}

.registrationform  a:hover {
    box-shadow: 0 1px 5px grey, 1px 2px 10px grey, 2px 3px 15px #333;
}

.registrationform  a:active {
    box-shadow: none;
    background-color: #84162d;
    transform: translateX(-50%);
}
